<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find rl_rapid)/config/rapid_params_goal.yaml" />
    <!-- Launch the training system -->
    <node pkg="rl_rapid" name="rapid_world" type="rapid_qlearning_goal.py" output="screen"/>
</launch>
